.htmll {
  height: 662px;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 163px 641px #fff, 1829px 1427px #fff, 1725px 1470px #fff,
    105px 1691px #fff, 559px 322px #fff, 1031px 728px #fff, 154px 1213px #fff,
    1779px 218px #fff, 588px 332px #fff, 861px 308px #fff, 1740px 1751px #fff,
    930px 436px #fff, 998px 619px #fff, 307px 1608px #fff, 885px 881px #fff,
    852px 300px #fff, 817px 720px #fff, 350px 576px #fff, 1340px 643px #fff,
    715px 1891px #fff, 340px 418px #fff, 1431px 645px #fff, 771px 955px #fff,
    1274px 371px #fff, 49px 603px #fff, 1803px 1788px #fff, 1105px 992px #fff,
    580px 1837px #fff, 1376px 630px #fff, 1216px 1598px #fff, 292px 208px #fff,
    1212px 169px #fff, 1323px 575px #fff, 1177px 56px #fff, 1398px 327px #fff,
    1128px 77px #fff, 1889px 1038px #fff, 1111px 1663px #fff, 699px 840px #fff,
    1069px 1731px #fff, 988px 1496px #fff, 184px 505px #fff, 1173px 629px #fff,
    1396px 1470px #fff, 1400px 1728px #fff, 1190px 1895px #fff,
    1079px 1474px #fff, 1898px 1893px #fff, 928px 1676px #fff, 65px 393px #fff,
    1127px 429px #fff, 1237px 903px #fff, 454px 985px #fff, 169px 1553px #fff,
    1909px 788px #fff, 683px 1902px #fff, 578px 569px #fff, 196px 162px #fff,
    1043px 470px #fff, 1485px 519px #fff, 224px 12px #fff, 224px 401px #fff,
    1915px 1119px #fff, 851px 326px #fff, 1315px 882px #fff, 52px 1739px #fff,
    1621px 189px #fff, 1536px 816px #fff, 406px 409px #fff, 742px 1192px #fff,
    619px 597px #fff, 1690px 11px #fff, 466px 212px #fff, 735px 1832px #fff,
    1887px 1447px #fff, 222px 11px #fff, 802px 206px #fff, 1052px 611px #fff,
    813px 139px #fff, 1121px 1843px #fff, 1354px 1586px #fff, 1106px 1371px #fff,
    1679px 1311px #fff, 514px 1439px #fff, 1739px 1997px #fff, 698px 873px #fff,
    1687px 97px #fff, 1105px 30px #fff, 522px 724px #fff, 1413px 402px #fff,
    635px 1832px #fff, 832px 1474px #fff, 1980px 805px #fff, 1949px 166px #fff,
    852px 1421px #fff, 142px 1314px #fff, 1878px 796px #fff, 1747px 1791px #fff,
    947px 609px #fff, 1389px 208px #fff, 1304px 341px #fff, 450px 684px #fff,
    1841px 932px #fff, 1734px 636px #fff, 317px 1222px #fff, 64px 1013px #fff,
    655px 470px #fff, 1040px 761px #fff, 760px 1915px #fff, 648px 1905px #fff,
    405px 984px #fff, 834px 1576px #fff, 792px 1592px #fff, 280px 1845px #fff,
    918px 119px #fff, 344px 709px #fff, 65px 464px #fff, 1400px 713px #fff,
    380px 1810px #fff, 1443px 251px #fff, 228px 1871px #fff, 655px 1890px #fff,
    1815px 1345px #fff, 1672px 1841px #fff, 78px 144px #fff, 1023px 1789px #fff,
    649px 1616px #fff, 1876px 952px #fff, 1126px 1998px #fff, 418px 551px #fff,
    132px 98px #fff, 1220px 1339px #fff, 642px 265px #fff, 267px 1477px #fff,
    1581px 1278px #fff, 883px 1464px #fff, 1652px 1221px #fff,
    1626px 1124px #fff, 1203px 53px #fff, 1520px 1041px #fff, 214px 1646px #fff,
    578px 265px #fff, 598px 469px #fff, 1737px 733px #fff, 457px 195px #fff,
    1175px 196px #fff, 81px 1646px #fff, 719px 825px #fff, 349px 1357px #fff,
    1966px 1358px #fff, 96px 1589px #fff, 905px 364px #fff, 1735px 833px #fff,
    116px 1141px #fff, 907px 593px #fff, 202px 359px #fff, 477px 1850px #fff,
    920px 72px #fff, 326px 692px #fff, 1700px 844px #fff, 539px 543px #fff,
    1570px 1421px #fff, 969px 1201px #fff, 1739px 324px #fff, 1092px 1653px #fff,
    440px 670px #fff, 473px 682px #fff, 1201px 1332px #fff, 79px 1891px #fff,
    1935px 995px #fff, 97px 1952px #fff, 1670px 1740px #fff, 14px 1829px #fff,
    829px 1867px #fff, 1280px 1538px #fff, 1283px 1747px #fff,
    1320px 1666px #fff, 1045px 1745px #fff, 277px 704px #fff, 481px 1890px #fff,
    1579px 104px #fff, 1488px 74px #fff, 1991px 1356px #fff, 701px 496px #fff,
    770px 1582px #fff, 1399px 1789px #fff, 70px 1627px #fff, 849px 655px #fff,
    1909px 760px #fff, 1500px 325px #fff, 859px 934px #fff, 685px 646px #fff,
    147px 820px #fff, 1750px 53px #fff, 503px 769px #fff, 526px 554px #fff,
    1108px 1837px #fff, 1956px 438px #fff, 371px 1984px #fff, 1803px 1341px #fff,
    1758px 1657px #fff, 61px 1597px #fff, 1380px 1151px #fff, 1135px 192px #fff,
    124px 779px #fff, 156px 42px #fff, 968px 1556px #fff, 1646px 160px #fff,
    1444px 1462px #fff, 1612px 1850px #fff, 1569px 948px #fff, 735px 1988px #fff,
    737px 929px #fff, 1290px 1463px #fff, 469px 697px #fff, 320px 1543px #fff,
    95px 1697px #fff, 1304px 807px #fff, 219px 963px #fff, 105px 8px #fff,
    1106px 694px #fff, 255px 1079px #fff, 1407px 1548px #fff, 1001px 1174px #fff,
    480px 1916px #fff, 1507px 986px #fff, 1377px 391px #fff, 498px 1241px #fff,
    1269px 187px #fff, 1053px 15px #fff, 1356px 505px #fff, 153px 1048px #fff,
    433px 298px #fff, 1825px 279px #fff, 1104px 685px #fff, 854px 1268px #fff,
    60px 1127px #fff, 932px 1753px #fff, 354px 1400px #fff, 1912px 1427px #fff,
    365px 848px #fff, 749px 1235px #fff, 911px 1423px #fff, 67px 610px #fff,
    1139px 1891px #fff, 420px 813px #fff, 1152px 1387px #fff, 1478px 1668px #fff,
    1832px 1093px #fff, 47px 1478px #fff, 1399px 572px #fff, 1437px 1533px #fff,
    229px 704px #fff, 702px 212px #fff, 1971px 1858px #fff, 1230px 356px #fff,
    1594px 584px #fff, 92px 1624px #fff, 946px 550px #fff, 1485px 488px #fff,
    726px 788px #fff, 64px 802px #fff, 674px 81px #fff, 113px 476px #fff,
    1174px 75px #fff, 1070px 1516px #fff, 788px 1098px #fff, 1714px 211px #fff,
    283px 880px #fff, 1351px 315px #fff, 1008px 1860px #fff, 1910px 1779px #fff,
    1615px 1324px #fff, 326px 1154px #fff, 46px 1939px #fff, 1323px 165px #fff,
    1959px 98px #fff, 847px 1169px #fff, 457px 1876px #fff, 552px 749px #fff,
    1050px 636px #fff, 1739px 479px #fff, 1642px 30px #fff, 731px 503px #fff,
    875px 815px #fff, 1882px 1050px #fff, 132px 1829px #fff, 535px 1193px #fff,
    1124px 1816px #fff, 1395px 1877px #fff, 1285px 1629px #fff,
    496px 1635px #fff, 760px 148px #fff, 1296px 1467px #fff, 1175px 315px #fff,
    1496px 1141px #fff, 1280px 1113px #fff, 1786px 816px #fff, 72px 1983px #fff,
    1245px 355px #fff, 197px 1474px #fff, 446px 1429px #fff, 352px 1980px #fff,
    1430px 1516px #fff, 828px 1076px #fff, 597px 413px #fff, 427px 175px #fff,
    982px 136px #fff, 424px 315px #fff, 761px 518px #fff, 877px 588px #fff,
    28px 1870px #fff, 1404px 1153px #fff, 286px 1382px #fff, 318px 796px #fff,
    152px 809px #fff, 923px 1670px #fff, 1362px 399px #fff, 1138px 1194px #fff,
    1578px 1923px #fff, 1287px 1324px #fff, 371px 513px #fff, 1843px 1622px #fff,
    78px 585px #fff, 418px 801px #fff, 1405px 956px #fff, 1177px 811px #fff,
    621px 391px #fff, 1900px 1535px #fff, 1416px 1193px #fff, 1734px 1413px #fff,
    1659px 1975px #fff, 1431px 1592px #fff, 955px 1167px #fff, 1748px 968px #fff,
    361px 1257px #fff, 783px 1054px #fff, 483px 1765px #fff, 1342px 881px #fff,
    552px 381px #fff, 1050px 1741px #fff, 409px 1037px #fff, 517px 1403px #fff,
    214px 168px #fff, 1077px 1434px #fff, 1542px 1819px #fff, 893px 808px #fff,
    525px 626px #fff, 952px 1451px #fff, 992px 666px #fff, 418px 202px #fff,
    1687px 1275px #fff, 810px 1871px #fff, 864px 573px #fff, 1016px 646px #fff,
    954px 226px #fff, 255px 1126px #fff, 1831px 745px #fff, 276px 481px #fff,
    1923px 1226px #fff, 1105px 232px #fff, 1597px 74px #fff, 1198px 1707px #fff,
    1423px 245px #fff, 1671px 1353px #fff, 189px 595px #fff, 1586px 416px #fff,
    1625px 1046px #fff, 1526px 1130px #fff, 1585px 1469px #fff,
    947px 1751px #fff, 1369px 1235px #fff, 375px 1562px #fff, 1028px 1113px #fff,
    1352px 1626px #fff, 841px 1241px #fff, 638px 1823px #fff, 1658px 1249px #fff,
    938px 1143px #fff, 1173px 548px #fff, 1495px 1026px #fff, 1950px 236px #fff,
    1011px 1402px #fff, 1835px 1783px #fff, 760px 985px #fff, 410px 430px #fff,
    1333px 1104px #fff, 1771px 709px #fff, 1916px 1727px #fff, 1703px 352px #fff,
    1355px 1907px #fff, 86px 494px #fff, 1244px 1819px #fff, 167px 1581px #fff,
    133px 1735px #fff, 1005px 840px #fff, 1829px 1422px #fff, 3px 411px #fff,
    283px 881px #fff, 793px 302px #fff, 922px 1106px #fff, 154px 295px #fff,
    1870px 1696px #fff, 855px 783px #fff, 302px 251px #fff, 1993px 1798px #fff,
    1682px 614px #fff, 1239px 307px #fff, 921px 1561px #fff, 1067px 1972px #fff,
    1888px 1777px #fff, 1869px 1398px #fff, 1276px 378px #fff, 992px 1717px #fff,
    1854px 613px #fff, 452px 520px #fff, 615px 1740px #fff, 39px 302px #fff,
    338px 731px #fff, 1728px 355px #fff, 1769px 935px #fff, 397px 1174px #fff,
    997px 1579px #fff, 1030px 1984px #fff, 1637px 244px #fff, 1471px 1500px #fff,
    1025px 595px #fff, 702px 1344px #fff, 1632px 73px #fff, 1353px 1221px #fff,
    800px 1124px #fff, 1650px 1498px #fff, 956px 1530px #fff, 654px 1091px #fff,
    230px 1232px #fff, 1745px 1542px #fff, 497px 1193px #fff, 16px 1582px #fff,
    594px 1651px #fff, 247px 1747px #fff, 808px 524px #fff, 272px 1616px #fff,
    18px 312px #fff, 1414px 565px #fff, 26px 278px #fff, 254px 250px #fff,
    933px 237px #fff, 1871px 1430px #fff, 797px 1994px #fff, 1778px 1262px #fff,
    745px 564px #fff, 347px 1991px #fff, 319px 199px #fff, 503px 1891px #fff,
    478px 703px #fff, 284px 819px #fff, 168px 1134px #fff, 1001px 422px #fff,
    596px 310px #fff, 1253px 1667px #fff, 1853px 1196px #fff, 424px 612px #fff,
    1998px 1664px #fff, 1733px 339px #fff, 1580px 1982px #fff, 144px 1265px #fff,
    1270px 833px #fff, 1314px 1466px #fff, 1052px 1398px #fff, 1645px 126px #fff,
    758px 1404px #fff, 282px 1033px #fff, 1355px 330px #fff, 482px 942px #fff,
    312px 1565px #fff, 302px 754px #fff, 484px 837px #fff, 460px 318px #fff,
    1599px 768px #fff, 1011px 149px #fff, 1155px 1987px #fff, 1334px 1488px #fff,
    877px 485px #fff, 1552px 1239px #fff, 1307px 1162px #fff, 1046px 626px #fff,
    1589px 1462px #fff, 440px 1257px #fff, 1048px 1978px #fff, 1690px 331px #fff,
    373px 1246px #fff, 645px 840px #fff, 1345px 68px #fff, 623px 1050px #fff,
    434px 1676px #fff, 83px 1115px #fff, 309px 1440px #fff, 18px 555px #fff,
    531px 1407px #fff, 1675px 132px #fff, 144px 445px #fff, 1382px 614px #fff,
    1055px 180px #fff, 557px 378px #fff, 923px 284px #fff, 1942px 577px #fff,
    1323px 168px #fff, 1127px 1954px #fff, 872px 1243px #fff, 903px 1422px #fff,
    1786px 96px #fff, 315px 671px #fff, 1372px 1358px #fff, 1297px 1915px #fff,
    1502px 419px #fff, 1383px 1775px #fff, 784px 1640px #fff, 1918px 1060px #fff,
    1363px 1694px #fff, 854px 1810px #fff, 1381px 201px #fff, 735px 798px #fff,
    753px 1793px #fff, 595px 276px #fff, 16px 35px #fff, 769px 1749px #fff,
    31px 1648px #fff, 1274px 1644px #fff, 408px 835px #fff, 1576px 176px #fff,
    603px 1630px #fff, 1567px 699px #fff, 1654px 198px #fff, 466px 1680px #fff,
    71px 201px #fff, 735px 1878px #fff, 465px 1639px #fff, 1696px 391px #fff,
    342px 1038px #fff, 264px 633px #fff, 652px 597px #fff, 1021px 1792px #fff,
    1135px 1553px #fff, 175px 978px #fff, 1136px 1559px #fff, 793px 1401px #fff,
    565px 1933px #fff, 629px 1409px #fff, 1056px 1181px #fff, 248px 505px #fff,
    464px 120px #fff, 222px 1289px #fff, 1493px 137px #fff, 325px 424px #fff,
    1191px 756px #fff, 95px 443px #fff, 1095px 970px #fff, 354px 297px #fff,
    1490px 515px #fff, 1430px 782px #fff, 807px 1760px #fff, 1720px 1593px #fff,
    1351px 437px #fff, 1989px 761px #fff, 492px 1103px #fff, 45px 1872px #fff,
    498px 759px #fff, 1144px 939px #fff, 1147px 1838px #fff, 163px 1563px #fff,
    1458px 585px #fff, 1794px 1669px #fff, 1169px 543px #fff, 17px 1411px #fff,
    881px 950px #fff, 633px 1071px #fff, 1926px 1450px #fff, 649px 838px #fff,
    1528px 1159px #fff, 342px 1314px #fff, 976px 58px #fff, 564px 668px #fff,
    590px 742px #fff, 1498px 149px #fff, 154px 606px #fff, 1303px 1714px #fff,
    1447px 759px #fff, 434px 1552px #fff, 1105px 1094px #fff, 1478px 1627px #fff,
    1056px 1858px #fff, 425px 1243px #fff, 112px 1313px #fff, 912px 1818px #fff,
    1892px 1597px #fff, 174px 1691px #fff, 1649px 401px #fff, 83px 69px #fff,
    885px 1123px #fff, 1787px 1695px #fff, 958px 1941px #fff, 842px 1197px #fff,
    884px 937px #fff, 868px 1044px #fff, 659px 1851px #fff, 1107px 1178px #fff,
    833px 1669px #fff, 1626px 1004px #fff, 1068px 243px #fff, 1127px 1998px #fff,
    1454px 1041px #fff, 584px 824px #fff, 98px 303px #fff, 212px 1483px #fff,
    345px 1313px #fff, 1266px 121px #fff, 1049px 976px #fff, 1576px 334px #fff,
    1758px 385px #fff, 976px 1207px #fff, 1199px 813px #fff, 1994px 176px #fff,
    74px 208px #fff, 337px 1109px #fff, 1723px 1144px #fff, 371px 627px #fff,
    1206px 723px #fff, 1523px 1910px #fff, 1253px 919px #fff, 1973px 61px #fff,
    1884px 134px #fff, 1337px 1227px #fff, 1302px 1610px #fff, 1976px 93px #fff,
    1441px 1906px #fff, 1833px 1148px #fff, 1156px 247px #fff, 404px 1426px #fff,
    1252px 1551px #fff, 576px 440px #fff, 1748px 137px #fff, 137px 1067px #fff,
    1944px 1462px #fff, 1561px 1561px #fff, 137px 186px #fff, 20px 757px #fff,
    1866px 292px #fff, 1361px 386px #fff, 1257px 720px #fff, 1454px 1249px #fff,
    631px 366px #fff, 312px 1779px #fff, 1260px 1651px #fff, 1149px 275px #fff,
    767px 1471px #fff, 589px 234px #fff, 1945px 1366px #fff, 472px 1289px #fff,
    535px 1797px #fff, 1348px 487px #fff, 1175px 514px #fff, 815px 601px #fff,
    1551px 1px #fff, 1608px 1705px #fff, 1265px 547px #fff, 186px 1779px #fff,
    1005px 1869px #fff, 1840px 1448px #fff, 1194px 1549px #fff,
    1291px 610px #fff, 1166px 636px #fff, 324px 1435px #fff, 1942px 541px #fff,
    748px 1491px #fff, 1646px 308px #fff, 1042px 1420px #fff, 1225px 758px #fff,
    95px 817px #fff, 1588px 892px #fff, 326px 435px #fff, 838px 982px #fff,
    1035px 452px #fff, 694px 31px #fff, 1492px 505px #fff, 1254px 921px #fff,
    1771px 847px #fff, 1192px 515px #fff, 2px 1225px #fff, 1399px 1577px #fff,
    1081px 833px #fff, 488px 1143px #fff, 984px 1112px #fff, 520px 735px #fff,
    424px 422px #fff, 1185px 1460px #fff, 318px 1263px #fff, 265px 809px #fff,
    1395px 1398px #fff, 1334px 660px #fff, 486px 1003px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 163px 641px #fff, 1829px 1427px #fff, 1725px 1470px #fff,
    105px 1691px #fff, 559px 322px #fff, 1031px 728px #fff, 154px 1213px #fff,
    1779px 218px #fff, 588px 332px #fff, 861px 308px #fff, 1740px 1751px #fff,
    930px 436px #fff, 998px 619px #fff, 307px 1608px #fff, 885px 881px #fff,
    852px 300px #fff, 817px 720px #fff, 350px 576px #fff, 1340px 643px #fff,
    715px 1891px #fff, 340px 418px #fff, 1431px 645px #fff, 771px 955px #fff,
    1274px 371px #fff, 49px 603px #fff, 1803px 1788px #fff, 1105px 992px #fff,
    580px 1837px #fff, 1376px 630px #fff, 1216px 1598px #fff, 292px 208px #fff,
    1212px 169px #fff, 1323px 575px #fff, 1177px 56px #fff, 1398px 327px #fff,
    1128px 77px #fff, 1889px 1038px #fff, 1111px 1663px #fff, 699px 840px #fff,
    1069px 1731px #fff, 988px 1496px #fff, 184px 505px #fff, 1173px 629px #fff,
    1396px 1470px #fff, 1400px 1728px #fff, 1190px 1895px #fff,
    1079px 1474px #fff, 1898px 1893px #fff, 928px 1676px #fff, 65px 393px #fff,
    1127px 429px #fff, 1237px 903px #fff, 454px 985px #fff, 169px 1553px #fff,
    1909px 788px #fff, 683px 1902px #fff, 578px 569px #fff, 196px 162px #fff,
    1043px 470px #fff, 1485px 519px #fff, 224px 12px #fff, 224px 401px #fff,
    1915px 1119px #fff, 851px 326px #fff, 1315px 882px #fff, 52px 1739px #fff,
    1621px 189px #fff, 1536px 816px #fff, 406px 409px #fff, 742px 1192px #fff,
    619px 597px #fff, 1690px 11px #fff, 466px 212px #fff, 735px 1832px #fff,
    1887px 1447px #fff, 222px 11px #fff, 802px 206px #fff, 1052px 611px #fff,
    813px 139px #fff, 1121px 1843px #fff, 1354px 1586px #fff, 1106px 1371px #fff,
    1679px 1311px #fff, 514px 1439px #fff, 1739px 1997px #fff, 698px 873px #fff,
    1687px 97px #fff, 1105px 30px #fff, 522px 724px #fff, 1413px 402px #fff,
    635px 1832px #fff, 832px 1474px #fff, 1980px 805px #fff, 1949px 166px #fff,
    852px 1421px #fff, 142px 1314px #fff, 1878px 796px #fff, 1747px 1791px #fff,
    947px 609px #fff, 1389px 208px #fff, 1304px 341px #fff, 450px 684px #fff,
    1841px 932px #fff, 1734px 636px #fff, 317px 1222px #fff, 64px 1013px #fff,
    655px 470px #fff, 1040px 761px #fff, 760px 1915px #fff, 648px 1905px #fff,
    405px 984px #fff, 834px 1576px #fff, 792px 1592px #fff, 280px 1845px #fff,
    918px 119px #fff, 344px 709px #fff, 65px 464px #fff, 1400px 713px #fff,
    380px 1810px #fff, 1443px 251px #fff, 228px 1871px #fff, 655px 1890px #fff,
    1815px 1345px #fff, 1672px 1841px #fff, 78px 144px #fff, 1023px 1789px #fff,
    649px 1616px #fff, 1876px 952px #fff, 1126px 1998px #fff, 418px 551px #fff,
    132px 98px #fff, 1220px 1339px #fff, 642px 265px #fff, 267px 1477px #fff,
    1581px 1278px #fff, 883px 1464px #fff, 1652px 1221px #fff,
    1626px 1124px #fff, 1203px 53px #fff, 1520px 1041px #fff, 214px 1646px #fff,
    578px 265px #fff, 598px 469px #fff, 1737px 733px #fff, 457px 195px #fff,
    1175px 196px #fff, 81px 1646px #fff, 719px 825px #fff, 349px 1357px #fff,
    1966px 1358px #fff, 96px 1589px #fff, 905px 364px #fff, 1735px 833px #fff,
    116px 1141px #fff, 907px 593px #fff, 202px 359px #fff, 477px 1850px #fff,
    920px 72px #fff, 326px 692px #fff, 1700px 844px #fff, 539px 543px #fff,
    1570px 1421px #fff, 969px 1201px #fff, 1739px 324px #fff, 1092px 1653px #fff,
    440px 670px #fff, 473px 682px #fff, 1201px 1332px #fff, 79px 1891px #fff,
    1935px 995px #fff, 97px 1952px #fff, 1670px 1740px #fff, 14px 1829px #fff,
    829px 1867px #fff, 1280px 1538px #fff, 1283px 1747px #fff,
    1320px 1666px #fff, 1045px 1745px #fff, 277px 704px #fff, 481px 1890px #fff,
    1579px 104px #fff, 1488px 74px #fff, 1991px 1356px #fff, 701px 496px #fff,
    770px 1582px #fff, 1399px 1789px #fff, 70px 1627px #fff, 849px 655px #fff,
    1909px 760px #fff, 1500px 325px #fff, 859px 934px #fff, 685px 646px #fff,
    147px 820px #fff, 1750px 53px #fff, 503px 769px #fff, 526px 554px #fff,
    1108px 1837px #fff, 1956px 438px #fff, 371px 1984px #fff, 1803px 1341px #fff,
    1758px 1657px #fff, 61px 1597px #fff, 1380px 1151px #fff, 1135px 192px #fff,
    124px 779px #fff, 156px 42px #fff, 968px 1556px #fff, 1646px 160px #fff,
    1444px 1462px #fff, 1612px 1850px #fff, 1569px 948px #fff, 735px 1988px #fff,
    737px 929px #fff, 1290px 1463px #fff, 469px 697px #fff, 320px 1543px #fff,
    95px 1697px #fff, 1304px 807px #fff, 219px 963px #fff, 105px 8px #fff,
    1106px 694px #fff, 255px 1079px #fff, 1407px 1548px #fff, 1001px 1174px #fff,
    480px 1916px #fff, 1507px 986px #fff, 1377px 391px #fff, 498px 1241px #fff,
    1269px 187px #fff, 1053px 15px #fff, 1356px 505px #fff, 153px 1048px #fff,
    433px 298px #fff, 1825px 279px #fff, 1104px 685px #fff, 854px 1268px #fff,
    60px 1127px #fff, 932px 1753px #fff, 354px 1400px #fff, 1912px 1427px #fff,
    365px 848px #fff, 749px 1235px #fff, 911px 1423px #fff, 67px 610px #fff,
    1139px 1891px #fff, 420px 813px #fff, 1152px 1387px #fff, 1478px 1668px #fff,
    1832px 1093px #fff, 47px 1478px #fff, 1399px 572px #fff, 1437px 1533px #fff,
    229px 704px #fff, 702px 212px #fff, 1971px 1858px #fff, 1230px 356px #fff,
    1594px 584px #fff, 92px 1624px #fff, 946px 550px #fff, 1485px 488px #fff,
    726px 788px #fff, 64px 802px #fff, 674px 81px #fff, 113px 476px #fff,
    1174px 75px #fff, 1070px 1516px #fff, 788px 1098px #fff, 1714px 211px #fff,
    283px 880px #fff, 1351px 315px #fff, 1008px 1860px #fff, 1910px 1779px #fff,
    1615px 1324px #fff, 326px 1154px #fff, 46px 1939px #fff, 1323px 165px #fff,
    1959px 98px #fff, 847px 1169px #fff, 457px 1876px #fff, 552px 749px #fff,
    1050px 636px #fff, 1739px 479px #fff, 1642px 30px #fff, 731px 503px #fff,
    875px 815px #fff, 1882px 1050px #fff, 132px 1829px #fff, 535px 1193px #fff,
    1124px 1816px #fff, 1395px 1877px #fff, 1285px 1629px #fff,
    496px 1635px #fff, 760px 148px #fff, 1296px 1467px #fff, 1175px 315px #fff,
    1496px 1141px #fff, 1280px 1113px #fff, 1786px 816px #fff, 72px 1983px #fff,
    1245px 355px #fff, 197px 1474px #fff, 446px 1429px #fff, 352px 1980px #fff,
    1430px 1516px #fff, 828px 1076px #fff, 597px 413px #fff, 427px 175px #fff,
    982px 136px #fff, 424px 315px #fff, 761px 518px #fff, 877px 588px #fff,
    28px 1870px #fff, 1404px 1153px #fff, 286px 1382px #fff, 318px 796px #fff,
    152px 809px #fff, 923px 1670px #fff, 1362px 399px #fff, 1138px 1194px #fff,
    1578px 1923px #fff, 1287px 1324px #fff, 371px 513px #fff, 1843px 1622px #fff,
    78px 585px #fff, 418px 801px #fff, 1405px 956px #fff, 1177px 811px #fff,
    621px 391px #fff, 1900px 1535px #fff, 1416px 1193px #fff, 1734px 1413px #fff,
    1659px 1975px #fff, 1431px 1592px #fff, 955px 1167px #fff, 1748px 968px #fff,
    361px 1257px #fff, 783px 1054px #fff, 483px 1765px #fff, 1342px 881px #fff,
    552px 381px #fff, 1050px 1741px #fff, 409px 1037px #fff, 517px 1403px #fff,
    214px 168px #fff, 1077px 1434px #fff, 1542px 1819px #fff, 893px 808px #fff,
    525px 626px #fff, 952px 1451px #fff, 992px 666px #fff, 418px 202px #fff,
    1687px 1275px #fff, 810px 1871px #fff, 864px 573px #fff, 1016px 646px #fff,
    954px 226px #fff, 255px 1126px #fff, 1831px 745px #fff, 276px 481px #fff,
    1923px 1226px #fff, 1105px 232px #fff, 1597px 74px #fff, 1198px 1707px #fff,
    1423px 245px #fff, 1671px 1353px #fff, 189px 595px #fff, 1586px 416px #fff,
    1625px 1046px #fff, 1526px 1130px #fff, 1585px 1469px #fff,
    947px 1751px #fff, 1369px 1235px #fff, 375px 1562px #fff, 1028px 1113px #fff,
    1352px 1626px #fff, 841px 1241px #fff, 638px 1823px #fff, 1658px 1249px #fff,
    938px 1143px #fff, 1173px 548px #fff, 1495px 1026px #fff, 1950px 236px #fff,
    1011px 1402px #fff, 1835px 1783px #fff, 760px 985px #fff, 410px 430px #fff,
    1333px 1104px #fff, 1771px 709px #fff, 1916px 1727px #fff, 1703px 352px #fff,
    1355px 1907px #fff, 86px 494px #fff, 1244px 1819px #fff, 167px 1581px #fff,
    133px 1735px #fff, 1005px 840px #fff, 1829px 1422px #fff, 3px 411px #fff,
    283px 881px #fff, 793px 302px #fff, 922px 1106px #fff, 154px 295px #fff,
    1870px 1696px #fff, 855px 783px #fff, 302px 251px #fff, 1993px 1798px #fff,
    1682px 614px #fff, 1239px 307px #fff, 921px 1561px #fff, 1067px 1972px #fff,
    1888px 1777px #fff, 1869px 1398px #fff, 1276px 378px #fff, 992px 1717px #fff,
    1854px 613px #fff, 452px 520px #fff, 615px 1740px #fff, 39px 302px #fff,
    338px 731px #fff, 1728px 355px #fff, 1769px 935px #fff, 397px 1174px #fff,
    997px 1579px #fff, 1030px 1984px #fff, 1637px 244px #fff, 1471px 1500px #fff,
    1025px 595px #fff, 702px 1344px #fff, 1632px 73px #fff, 1353px 1221px #fff,
    800px 1124px #fff, 1650px 1498px #fff, 956px 1530px #fff, 654px 1091px #fff,
    230px 1232px #fff, 1745px 1542px #fff, 497px 1193px #fff, 16px 1582px #fff,
    594px 1651px #fff, 247px 1747px #fff, 808px 524px #fff, 272px 1616px #fff,
    18px 312px #fff, 1414px 565px #fff, 26px 278px #fff, 254px 250px #fff,
    933px 237px #fff, 1871px 1430px #fff, 797px 1994px #fff, 1778px 1262px #fff,
    745px 564px #fff, 347px 1991px #fff, 319px 199px #fff, 503px 1891px #fff,
    478px 703px #fff, 284px 819px #fff, 168px 1134px #fff, 1001px 422px #fff,
    596px 310px #fff, 1253px 1667px #fff, 1853px 1196px #fff, 424px 612px #fff,
    1998px 1664px #fff, 1733px 339px #fff, 1580px 1982px #fff, 144px 1265px #fff,
    1270px 833px #fff, 1314px 1466px #fff, 1052px 1398px #fff, 1645px 126px #fff,
    758px 1404px #fff, 282px 1033px #fff, 1355px 330px #fff, 482px 942px #fff,
    312px 1565px #fff, 302px 754px #fff, 484px 837px #fff, 460px 318px #fff,
    1599px 768px #fff, 1011px 149px #fff, 1155px 1987px #fff, 1334px 1488px #fff,
    877px 485px #fff, 1552px 1239px #fff, 1307px 1162px #fff, 1046px 626px #fff,
    1589px 1462px #fff, 440px 1257px #fff, 1048px 1978px #fff, 1690px 331px #fff,
    373px 1246px #fff, 645px 840px #fff, 1345px 68px #fff, 623px 1050px #fff,
    434px 1676px #fff, 83px 1115px #fff, 309px 1440px #fff, 18px 555px #fff,
    531px 1407px #fff, 1675px 132px #fff, 144px 445px #fff, 1382px 614px #fff,
    1055px 180px #fff, 557px 378px #fff, 923px 284px #fff, 1942px 577px #fff,
    1323px 168px #fff, 1127px 1954px #fff, 872px 1243px #fff, 903px 1422px #fff,
    1786px 96px #fff, 315px 671px #fff, 1372px 1358px #fff, 1297px 1915px #fff,
    1502px 419px #fff, 1383px 1775px #fff, 784px 1640px #fff, 1918px 1060px #fff,
    1363px 1694px #fff, 854px 1810px #fff, 1381px 201px #fff, 735px 798px #fff,
    753px 1793px #fff, 595px 276px #fff, 16px 35px #fff, 769px 1749px #fff,
    31px 1648px #fff, 1274px 1644px #fff, 408px 835px #fff, 1576px 176px #fff,
    603px 1630px #fff, 1567px 699px #fff, 1654px 198px #fff, 466px 1680px #fff,
    71px 201px #fff, 735px 1878px #fff, 465px 1639px #fff, 1696px 391px #fff,
    342px 1038px #fff, 264px 633px #fff, 652px 597px #fff, 1021px 1792px #fff,
    1135px 1553px #fff, 175px 978px #fff, 1136px 1559px #fff, 793px 1401px #fff,
    565px 1933px #fff, 629px 1409px #fff, 1056px 1181px #fff, 248px 505px #fff,
    464px 120px #fff, 222px 1289px #fff, 1493px 137px #fff, 325px 424px #fff,
    1191px 756px #fff, 95px 443px #fff, 1095px 970px #fff, 354px 297px #fff,
    1490px 515px #fff, 1430px 782px #fff, 807px 1760px #fff, 1720px 1593px #fff,
    1351px 437px #fff, 1989px 761px #fff, 492px 1103px #fff, 45px 1872px #fff,
    498px 759px #fff, 1144px 939px #fff, 1147px 1838px #fff, 163px 1563px #fff,
    1458px 585px #fff, 1794px 1669px #fff, 1169px 543px #fff, 17px 1411px #fff,
    881px 950px #fff, 633px 1071px #fff, 1926px 1450px #fff, 649px 838px #fff,
    1528px 1159px #fff, 342px 1314px #fff, 976px 58px #fff, 564px 668px #fff,
    590px 742px #fff, 1498px 149px #fff, 154px 606px #fff, 1303px 1714px #fff,
    1447px 759px #fff, 434px 1552px #fff, 1105px 1094px #fff, 1478px 1627px #fff,
    1056px 1858px #fff, 425px 1243px #fff, 112px 1313px #fff, 912px 1818px #fff,
    1892px 1597px #fff, 174px 1691px #fff, 1649px 401px #fff, 83px 69px #fff,
    885px 1123px #fff, 1787px 1695px #fff, 958px 1941px #fff, 842px 1197px #fff,
    884px 937px #fff, 868px 1044px #fff, 659px 1851px #fff, 1107px 1178px #fff,
    833px 1669px #fff, 1626px 1004px #fff, 1068px 243px #fff, 1127px 1998px #fff,
    1454px 1041px #fff, 584px 824px #fff, 98px 303px #fff, 212px 1483px #fff,
    345px 1313px #fff, 1266px 121px #fff, 1049px 976px #fff, 1576px 334px #fff,
    1758px 385px #fff, 976px 1207px #fff, 1199px 813px #fff, 1994px 176px #fff,
    74px 208px #fff, 337px 1109px #fff, 1723px 1144px #fff, 371px 627px #fff,
    1206px 723px #fff, 1523px 1910px #fff, 1253px 919px #fff, 1973px 61px #fff,
    1884px 134px #fff, 1337px 1227px #fff, 1302px 1610px #fff, 1976px 93px #fff,
    1441px 1906px #fff, 1833px 1148px #fff, 1156px 247px #fff, 404px 1426px #fff,
    1252px 1551px #fff, 576px 440px #fff, 1748px 137px #fff, 137px 1067px #fff,
    1944px 1462px #fff, 1561px 1561px #fff, 137px 186px #fff, 20px 757px #fff,
    1866px 292px #fff, 1361px 386px #fff, 1257px 720px #fff, 1454px 1249px #fff,
    631px 366px #fff, 312px 1779px #fff, 1260px 1651px #fff, 1149px 275px #fff,
    767px 1471px #fff, 589px 234px #fff, 1945px 1366px #fff, 472px 1289px #fff,
    535px 1797px #fff, 1348px 487px #fff, 1175px 514px #fff, 815px 601px #fff,
    1551px 1px #fff, 1608px 1705px #fff, 1265px 547px #fff, 186px 1779px #fff,
    1005px 1869px #fff, 1840px 1448px #fff, 1194px 1549px #fff,
    1291px 610px #fff, 1166px 636px #fff, 324px 1435px #fff, 1942px 541px #fff,
    748px 1491px #fff, 1646px 308px #fff, 1042px 1420px #fff, 1225px 758px #fff,
    95px 817px #fff, 1588px 892px #fff, 326px 435px #fff, 838px 982px #fff,
    1035px 452px #fff, 694px 31px #fff, 1492px 505px #fff, 1254px 921px #fff,
    1771px 847px #fff, 1192px 515px #fff, 2px 1225px #fff, 1399px 1577px #fff,
    1081px 833px #fff, 488px 1143px #fff, 984px 1112px #fff, 520px 735px #fff,
    424px 422px #fff, 1185px 1460px #fff, 318px 1263px #fff, 265px 809px #fff,
    1395px 1398px #fff, 1334px 660px #fff, 486px 1003px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1562px 1506px #fff, 1156px 1169px #fff, 1962px 1765px #fff,
    1986px 209px #fff, 1418px 1511px #fff, 826px 2px #fff, 375px 1685px #fff,
    555px 1281px #fff, 154px 975px #fff, 1187px 643px #fff, 38px 1023px #fff,
    1777px 1583px #fff, 881px 720px #fff, 1659px 1681px #fff, 1804px 1048px #fff,
    43px 661px #fff, 978px 1608px #fff, 524px 1165px #fff, 1908px 1316px #fff,
    1815px 1803px #fff, 217px 880px #fff, 630px 1672px #fff, 1070px 747px #fff,
    508px 676px #fff, 1479px 784px #fff, 335px 270px #fff, 128px 1363px #fff,
    727px 18px #fff, 577px 868px #fff, 1988px 27px #fff, 779px 619px #fff,
    1721px 491px #fff, 1526px 58px #fff, 566px 966px #fff, 513px 589px #fff,
    112px 1471px #fff, 409px 1536px #fff, 1181px 6px #fff, 1674px 615px #fff,
    1485px 1758px #fff, 813px 1429px #fff, 1098px 440px #fff, 1543px 661px #fff,
    1100px 436px #fff, 354px 531px #fff, 133px 592px #fff, 1795px 210px #fff,
    405px 1420px #fff, 1617px 1386px #fff, 1046px 1675px #fff,
    1494px 1376px #fff, 141px 1077px #fff, 1802px 1821px #fff, 732px 748px #fff,
    1583px 191px #fff, 945px 472px #fff, 234px 1213px #fff, 966px 1265px #fff,
    180px 423px #fff, 364px 207px #fff, 225px 1242px #fff, 24px 802px #fff,
    1742px 1622px #fff, 810px 889px #fff, 936px 1147px #fff, 1865px 798px #fff,
    286px 1066px #fff, 111px 1898px #fff, 1453px 1477px #fff, 1978px 920px #fff,
    1523px 1876px #fff, 1969px 1475px #fff, 245px 557px #fff, 1421px 1394px #fff,
    555px 290px #fff, 1524px 115px #fff, 709px 117px #fff, 933px 347px #fff,
    1201px 1883px #fff, 28px 493px #fff, 667px 1989px #fff, 891px 1467px #fff,
    927px 317px #fff, 833px 1599px #fff, 130px 915px #fff, 347px 760px #fff,
    1354px 1661px #fff, 1777px 1269px #fff, 1390px 867px #fff,
    1771px 1168px #fff, 472px 529px #fff, 1049px 1344px #fff, 1206px 1500px #fff,
    1920px 1704px #fff, 582px 528px #fff, 366px 513px #fff, 1999px 1818px #fff,
    1037px 940px #fff, 782px 1859px #fff, 752px 834px #fff, 804px 511px #fff,
    777px 443px #fff, 141px 385px #fff, 334px 372px #fff, 361px 661px #fff,
    985px 1568px #fff, 1636px 915px #fff, 1817px 111px #fff, 1523px 1861px #fff,
    1371px 253px #fff, 975px 1228px #fff, 550px 344px #fff, 1077px 1518px #fff,
    1253px 1872px #fff, 1988px 58px #fff, 1253px 2000px #fff, 1243px 1936px #fff,
    1598px 1891px #fff, 430px 780px #fff, 463px 467px #fff, 1556px 626px #fff,
    1360px 1224px #fff, 1130px 1259px #fff, 865px 603px #fff, 1133px 894px #fff,
    804px 1038px #fff, 731px 1997px #fff, 458px 1428px #fff, 583px 707px #fff,
    87px 1733px #fff, 630px 79px #fff, 1054px 582px #fff, 460px 126px #fff,
    214px 1695px #fff, 1195px 1645px #fff, 1785px 1364px #fff, 414px 1380px #fff,
    643px 1832px #fff, 1352px 1923px #fff, 602px 824px #fff, 596px 68px #fff,
    1453px 612px #fff, 180px 1648px #fff, 1452px 154px #fff, 654px 1127px #fff,
    610px 883px #fff, 1069px 1777px #fff, 589px 480px #fff, 1874px 497px #fff,
    862px 532px #fff, 1462px 1391px #fff, 629px 283px #fff, 1940px 993px #fff,
    238px 417px #fff, 694px 786px #fff, 1206px 1937px #fff, 814px 1613px #fff,
    1749px 675px #fff, 1861px 599px #fff, 629px 1771px #fff, 1963px 125px #fff,
    146px 145px #fff, 73px 1088px #fff, 156px 1640px #fff, 1600px 803px #fff,
    988px 823px #fff, 487px 504px #fff, 327px 779px #fff, 1px 689px #fff,
    1774px 1717px #fff, 832px 1545px #fff, 1269px 1261px #fff,
    1780px 1645px #fff, 1548px 600px #fff, 683px 1013px #fff, 1079px 709px #fff,
    1503px 126px #fff, 1720px 1308px #fff, 274px 126px #fff, 1648px 605px #fff,
    1766px 1283px #fff, 538px 1887px #fff, 889px 225px #fff, 585px 1303px #fff,
    1639px 213px #fff, 1941px 652px #fff, 1434px 134px #fff, 1713px 152px #fff,
    1594px 252px #fff, 238px 176px #fff, 1542px 199px #fff, 1539px 836px #fff,
    1578px 943px #fff, 685px 305px #fff, 461px 1789px #fff, 1954px 837px #fff,
    1064px 174px #fff, 304px 1758px #fff, 717px 1516px #fff, 1308px 1991px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1562px 1506px #fff, 1156px 1169px #fff, 1962px 1765px #fff,
    1986px 209px #fff, 1418px 1511px #fff, 826px 2px #fff, 375px 1685px #fff,
    555px 1281px #fff, 154px 975px #fff, 1187px 643px #fff, 38px 1023px #fff,
    1777px 1583px #fff, 881px 720px #fff, 1659px 1681px #fff, 1804px 1048px #fff,
    43px 661px #fff, 978px 1608px #fff, 524px 1165px #fff, 1908px 1316px #fff,
    1815px 1803px #fff, 217px 880px #fff, 630px 1672px #fff, 1070px 747px #fff,
    508px 676px #fff, 1479px 784px #fff, 335px 270px #fff, 128px 1363px #fff,
    727px 18px #fff, 577px 868px #fff, 1988px 27px #fff, 779px 619px #fff,
    1721px 491px #fff, 1526px 58px #fff, 566px 966px #fff, 513px 589px #fff,
    112px 1471px #fff, 409px 1536px #fff, 1181px 6px #fff, 1674px 615px #fff,
    1485px 1758px #fff, 813px 1429px #fff, 1098px 440px #fff, 1543px 661px #fff,
    1100px 436px #fff, 354px 531px #fff, 133px 592px #fff, 1795px 210px #fff,
    405px 1420px #fff, 1617px 1386px #fff, 1046px 1675px #fff,
    1494px 1376px #fff, 141px 1077px #fff, 1802px 1821px #fff, 732px 748px #fff,
    1583px 191px #fff, 945px 472px #fff, 234px 1213px #fff, 966px 1265px #fff,
    180px 423px #fff, 364px 207px #fff, 225px 1242px #fff, 24px 802px #fff,
    1742px 1622px #fff, 810px 889px #fff, 936px 1147px #fff, 1865px 798px #fff,
    286px 1066px #fff, 111px 1898px #fff, 1453px 1477px #fff, 1978px 920px #fff,
    1523px 1876px #fff, 1969px 1475px #fff, 245px 557px #fff, 1421px 1394px #fff,
    555px 290px #fff, 1524px 115px #fff, 709px 117px #fff, 933px 347px #fff,
    1201px 1883px #fff, 28px 493px #fff, 667px 1989px #fff, 891px 1467px #fff,
    927px 317px #fff, 833px 1599px #fff, 130px 915px #fff, 347px 760px #fff,
    1354px 1661px #fff, 1777px 1269px #fff, 1390px 867px #fff,
    1771px 1168px #fff, 472px 529px #fff, 1049px 1344px #fff, 1206px 1500px #fff,
    1920px 1704px #fff, 582px 528px #fff, 366px 513px #fff, 1999px 1818px #fff,
    1037px 940px #fff, 782px 1859px #fff, 752px 834px #fff, 804px 511px #fff,
    777px 443px #fff, 141px 385px #fff, 334px 372px #fff, 361px 661px #fff,
    985px 1568px #fff, 1636px 915px #fff, 1817px 111px #fff, 1523px 1861px #fff,
    1371px 253px #fff, 975px 1228px #fff, 550px 344px #fff, 1077px 1518px #fff,
    1253px 1872px #fff, 1988px 58px #fff, 1253px 2000px #fff, 1243px 1936px #fff,
    1598px 1891px #fff, 430px 780px #fff, 463px 467px #fff, 1556px 626px #fff,
    1360px 1224px #fff, 1130px 1259px #fff, 865px 603px #fff, 1133px 894px #fff,
    804px 1038px #fff, 731px 1997px #fff, 458px 1428px #fff, 583px 707px #fff,
    87px 1733px #fff, 630px 79px #fff, 1054px 582px #fff, 460px 126px #fff,
    214px 1695px #fff, 1195px 1645px #fff, 1785px 1364px #fff, 414px 1380px #fff,
    643px 1832px #fff, 1352px 1923px #fff, 602px 824px #fff, 596px 68px #fff,
    1453px 612px #fff, 180px 1648px #fff, 1452px 154px #fff, 654px 1127px #fff,
    610px 883px #fff, 1069px 1777px #fff, 589px 480px #fff, 1874px 497px #fff,
    862px 532px #fff, 1462px 1391px #fff, 629px 283px #fff, 1940px 993px #fff,
    238px 417px #fff, 694px 786px #fff, 1206px 1937px #fff, 814px 1613px #fff,
    1749px 675px #fff, 1861px 599px #fff, 629px 1771px #fff, 1963px 125px #fff,
    146px 145px #fff, 73px 1088px #fff, 156px 1640px #fff, 1600px 803px #fff,
    988px 823px #fff, 487px 504px #fff, 327px 779px #fff, 1px 689px #fff,
    1774px 1717px #fff, 832px 1545px #fff, 1269px 1261px #fff,
    1780px 1645px #fff, 1548px 600px #fff, 683px 1013px #fff, 1079px 709px #fff,
    1503px 126px #fff, 1720px 1308px #fff, 274px 126px #fff, 1648px 605px #fff,
    1766px 1283px #fff, 538px 1887px #fff, 889px 225px #fff, 585px 1303px #fff,
    1639px 213px #fff, 1941px 652px #fff, 1434px 134px #fff, 1713px 152px #fff,
    1594px 252px #fff, 238px 176px #fff, 1542px 199px #fff, 1539px 836px #fff,
    1578px 943px #fff, 685px 305px #fff, 461px 1789px #fff, 1954px 837px #fff,
    1064px 174px #fff, 304px 1758px #fff, 717px 1516px #fff, 1308px 1991px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 503px 1035px #fff, 1911px 1552px #fff, 1554px 356px #fff,
    674px 1410px #fff, 1854px 682px #fff, 353px 1466px #fff, 336px 4px #fff,
    1654px 963px #fff, 1531px 709px #fff, 547px 356px #fff, 281px 408px #fff,
    523px 967px #fff, 1610px 404px #fff, 869px 418px #fff, 523px 1090px #fff,
    1074px 1241px #fff, 846px 48px #fff, 537px 176px #fff, 1911px 1954px #fff,
    476px 422px #fff, 1939px 1052px #fff, 1228px 11px #fff, 925px 1104px #fff,
    1710px 770px #fff, 1964px 584px #fff, 503px 1334px #fff, 1078px 622px #fff,
    1127px 908px #fff, 1868px 39px #fff, 1133px 1694px #fff, 9px 1606px #fff,
    183px 1878px #fff, 484px 1561px #fff, 1051px 637px #fff, 1978px 992px #fff,
    1396px 1511px #fff, 849px 1041px #fff, 1085px 1008px #fff, 1631px 879px #fff,
    180px 303px #fff, 1359px 978px #fff, 1723px 491px #fff, 1251px 926px #fff,
    1145px 192px #fff, 128px 475px #fff, 573px 664px #fff, 168px 54px #fff,
    749px 908px #fff, 1470px 166px #fff, 184px 192px #fff, 398px 613px #fff,
    723px 1864px #fff, 1383px 1680px #fff, 609px 230px #fff, 1682px 976px #fff,
    1159px 1872px #fff, 866px 458px #fff, 1572px 605px #fff, 1068px 584px #fff,
    216px 1120px #fff, 855px 1655px #fff, 1766px 1482px #fff, 1164px 883px #fff,
    406px 216px #fff, 1801px 1048px #fff, 318px 1406px #fff, 1571px 1598px #fff,
    14px 131px #fff, 1725px 1136px #fff, 1113px 768px #fff, 1021px 726px #fff,
    143px 662px #fff, 1845px 594px #fff, 489px 1070px #fff, 773px 1028px #fff,
    705px 826px #fff, 1954px 1603px #fff, 1710px 178px #fff, 1462px 702px #fff,
    289px 711px #fff, 1504px 767px #fff, 1433px 449px #fff, 1794px 1734px #fff,
    113px 1738px #fff, 150px 1993px #fff, 995px 920px #fff, 1893px 944px #fff,
    657px 1651px #fff, 261px 169px #fff, 52px 1438px #fff, 426px 1699px #fff,
    19px 1367px #fff, 4px 1019px #fff, 1346px 1488px #fff, 795px 799px #fff,
    1108px 840px #fff, 272px 1780px #fff, 1211px 600px #fff, 333px 1516px #fff,
    576px 1022px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 503px 1035px #fff, 1911px 1552px #fff, 1554px 356px #fff,
    674px 1410px #fff, 1854px 682px #fff, 353px 1466px #fff, 336px 4px #fff,
    1654px 963px #fff, 1531px 709px #fff, 547px 356px #fff, 281px 408px #fff,
    523px 967px #fff, 1610px 404px #fff, 869px 418px #fff, 523px 1090px #fff,
    1074px 1241px #fff, 846px 48px #fff, 537px 176px #fff, 1911px 1954px #fff,
    476px 422px #fff, 1939px 1052px #fff, 1228px 11px #fff, 925px 1104px #fff,
    1710px 770px #fff, 1964px 584px #fff, 503px 1334px #fff, 1078px 622px #fff,
    1127px 908px #fff, 1868px 39px #fff, 1133px 1694px #fff, 9px 1606px #fff,
    183px 1878px #fff, 484px 1561px #fff, 1051px 637px #fff, 1978px 992px #fff,
    1396px 1511px #fff, 849px 1041px #fff, 1085px 1008px #fff, 1631px 879px #fff,
    180px 303px #fff, 1359px 978px #fff, 1723px 491px #fff, 1251px 926px #fff,
    1145px 192px #fff, 128px 475px #fff, 573px 664px #fff, 168px 54px #fff,
    749px 908px #fff, 1470px 166px #fff, 184px 192px #fff, 398px 613px #fff,
    723px 1864px #fff, 1383px 1680px #fff, 609px 230px #fff, 1682px 976px #fff,
    1159px 1872px #fff, 866px 458px #fff, 1572px 605px #fff, 1068px 584px #fff,
    216px 1120px #fff, 855px 1655px #fff, 1766px 1482px #fff, 1164px 883px #fff,
    406px 216px #fff, 1801px 1048px #fff, 318px 1406px #fff, 1571px 1598px #fff,
    14px 131px #fff, 1725px 1136px #fff, 1113px 768px #fff, 1021px 726px #fff,
    143px 662px #fff, 1845px 594px #fff, 489px 1070px #fff, 773px 1028px #fff,
    705px 826px #fff, 1954px 1603px #fff, 1710px 178px #fff, 1462px 702px #fff,
    289px 711px #fff, 1504px 767px #fff, 1433px 449px #fff, 1794px 1734px #fff,
    113px 1738px #fff, 150px 1993px #fff, 995px 920px #fff, 1893px 944px #fff,
    657px 1651px #fff, 261px 169px #fff, 52px 1438px #fff, 426px 1699px #fff,
    19px 1367px #fff, 4px 1019px #fff, 1346px 1488px #fff, 795px 799px #fff,
    1108px 840px #fff, 272px 1780px #fff, 1211px 600px #fff, 333px 1516px #fff,
    576px 1022px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 200;
  font-size: 40px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  -webkit-text-fill-color: white;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.form__label {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding-top: 14px;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 50%;
  height: 35px;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  margin-top: -28px;
  margin-left: 225px;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
