.home{
    width: 740px;
    margin: auto;
    margin-top: 51px;
    margin-left: 352px;
}

.smalltext {
    color: red;
    width: 60px;
    margin-left: 620px;
    margin-top: -27px;
    margin-bottom: -8px;
}

.advertisement {
    border: 1px solid black;
    margin-left: 757px;
    margin-top: 40px;
    width: 317px;
    height: 320px;
    border-radius: 10px;
    position: absolute;
    top: 99px;
    left: 378px;
}

.opp {
    position: absolute;
    top: 800px;
    left: -26px;
}

.bitch {
    position: absolute;
    top: 140px;
    left: 84px;
}

.newsnews {
    position: absolute;
    top: 895px;
    left: 378px;
}